DeathNote_Site/DeathNote_Site/Connected Services/DeathNote_WebServer/DeathNote_WebServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateActive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateActiveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateActiveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogOutResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Friends">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FriendsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FriendRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FriendRequestResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcceptOrDecline">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Accept" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailFrom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcceptOrDeclineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AcceptOrDeclineResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Users">
        <s:complexType />
      </s:element>
      <s:element name="UsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailTo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreatRequestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Profile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProfileResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditProfileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="CreateActiveSoapIn">
    <wsdl:part name="parameters" element="tns:CreateActive" />
  </wsdl:message>
  <wsdl:message name="CreateActiveSoapOut">
    <wsdl:part name="parameters" element="tns:CreateActiveResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapIn">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapOut">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="FriendsSoapIn">
    <wsdl:part name="parameters" element="tns:Friends" />
  </wsdl:message>
  <wsdl:message name="FriendsSoapOut">
    <wsdl:part name="parameters" element="tns:FriendsResponse" />
  </wsdl:message>
  <wsdl:message name="FriendRequestSoapIn">
    <wsdl:part name="parameters" element="tns:FriendRequest" />
  </wsdl:message>
  <wsdl:message name="FriendRequestSoapOut">
    <wsdl:part name="parameters" element="tns:FriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="AcceptOrDeclineSoapIn">
    <wsdl:part name="parameters" element="tns:AcceptOrDecline" />
  </wsdl:message>
  <wsdl:message name="AcceptOrDeclineSoapOut">
    <wsdl:part name="parameters" element="tns:AcceptOrDeclineResponse" />
  </wsdl:message>
  <wsdl:message name="UsersSoapIn">
    <wsdl:part name="parameters" element="tns:Users" />
  </wsdl:message>
  <wsdl:message name="UsersSoapOut">
    <wsdl:part name="parameters" element="tns:UsersResponse" />
  </wsdl:message>
  <wsdl:message name="CreatRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CreatRequest" />
  </wsdl:message>
  <wsdl:message name="CreatRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CreatRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ProfileSoapIn">
    <wsdl:part name="parameters" element="tns:Profile" />
  </wsdl:message>
  <wsdl:message name="ProfileSoapOut">
    <wsdl:part name="parameters" element="tns:ProfileResponse" />
  </wsdl:message>
  <wsdl:message name="EditProfileSoapIn">
    <wsdl:part name="parameters" element="tns:EditProfile" />
  </wsdl:message>
  <wsdl:message name="EditProfileSoapOut">
    <wsdl:part name="parameters" element="tns:EditProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="DeathNote_WebServerSoap">
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateActive">
      <wsdl:input message="tns:CreateActiveSoapIn" />
      <wsdl:output message="tns:CreateActiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input message="tns:LogOutSoapIn" />
      <wsdl:output message="tns:LogOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Friends">
      <wsdl:input message="tns:FriendsSoapIn" />
      <wsdl:output message="tns:FriendsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FriendRequest">
      <wsdl:input message="tns:FriendRequestSoapIn" />
      <wsdl:output message="tns:FriendRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AcceptOrDecline">
      <wsdl:input message="tns:AcceptOrDeclineSoapIn" />
      <wsdl:output message="tns:AcceptOrDeclineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Users">
      <wsdl:input message="tns:UsersSoapIn" />
      <wsdl:output message="tns:UsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreatRequest">
      <wsdl:input message="tns:CreatRequestSoapIn" />
      <wsdl:output message="tns:CreatRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Profile">
      <wsdl:input message="tns:ProfileSoapIn" />
      <wsdl:output message="tns:ProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditProfile">
      <wsdl:input message="tns:EditProfileSoapIn" />
      <wsdl:output message="tns:EditProfileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeathNote_WebServerSoap" type="tns:DeathNote_WebServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateActive">
      <soap:operation soapAction="http://tempuri.org/CreateActive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://tempuri.org/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Friends">
      <soap:operation soapAction="http://tempuri.org/Friends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendRequest">
      <soap:operation soapAction="http://tempuri.org/FriendRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptOrDecline">
      <soap:operation soapAction="http://tempuri.org/AcceptOrDecline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Users">
      <soap:operation soapAction="http://tempuri.org/Users" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatRequest">
      <soap:operation soapAction="http://tempuri.org/CreatRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Profile">
      <soap:operation soapAction="http://tempuri.org/Profile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProfile">
      <soap:operation soapAction="http://tempuri.org/EditProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeathNote_WebServerSoap12" type="tns:DeathNote_WebServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateActive">
      <soap12:operation soapAction="http://tempuri.org/CreateActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Friends">
      <soap12:operation soapAction="http://tempuri.org/Friends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendRequest">
      <soap12:operation soapAction="http://tempuri.org/FriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptOrDecline">
      <soap12:operation soapAction="http://tempuri.org/AcceptOrDecline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Users">
      <soap12:operation soapAction="http://tempuri.org/Users" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatRequest">
      <soap12:operation soapAction="http://tempuri.org/CreatRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Profile">
      <soap12:operation soapAction="http://tempuri.org/Profile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProfile">
      <soap12:operation soapAction="http://tempuri.org/EditProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeathNote_WebServer">
    <wsdl:port name="DeathNote_WebServerSoap" binding="tns:DeathNote_WebServerSoap">
      <soap:address location="http://localhost:10515/DeathNote_WebServer.asmx" />
    </wsdl:port>
    <wsdl:port name="DeathNote_WebServerSoap12" binding="tns:DeathNote_WebServerSoap12">
      <soap12:address location="http://localhost:10515/DeathNote_WebServer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>